# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tgz

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# TypeScript
*.tsbuildinfo

# React Native
*.jsbundle
*.bundle
.gradle/
.m2/
local.properties

# Testing
coverage/
.nyc_output/

# Production
build/
out/
